/*Farver*/
:root{
    --beige: #dad0c0;
    --Mørkerød: #331316;
    --Sort:#000000;
    --Gul: #f7be05;
    --Rød: #c00c1e;
    --Hvid: #ffffff;
}

/*Fonts*/
.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }

/*flag*/
.flag{
    height: 50px; /* flagets størelse */
    width: auto;
    margin-top: 15px;
  }
  
/*logo*/
.logo{
 
    height: 65px; /* flagets størelse */
    width: auto;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

/*baggrundsbillede*/
.background-section {
    background-image: url(/images/baggrund_booking.webp);
    background-size: cover;
    background-position: center;
    background-color: var(--beige);
    background-repeat: no-repeat;
    height: 97vh; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Hvid); /* Text color for contrast */
    text-align: center;
    opacity: 80%;
}


body {
    font-family: "DM Serif Display", serif;
    text-transform: none;
    text-decoration: none;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;  
    background: var(--beige);
    top:0;
    left:0;
    right:0;
    padding: 10px 7%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    gap: 10%;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: var(--Mørkerød);
}

header .navbar ul {
    list-style: none;
    display: flex;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    color: var(--Mørkerød);
    display: block;
}

header .navbar ul li a:hover {
    background:var(--Mørkerød);
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--beige);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid var(--Mørkerød);
}

header .navbar ul li ul li ul {
    left: 200px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

/*Tablet størrelse*/
@media(max-width:991px){
    header{
        padding: 20px;
    }
    
    header label {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background: var(--Hvid);
        border-top: 1px solid var(--Mørkerød);
        display: none;  
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: var(--Hvid);
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left:0;
    }

    #menu-bar:checked ~ .navbar {
        display: block;
    }
    /* Gør siden responsiv og nulstil standardmargener */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* Stil for navigation */
    nav {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Gennemsigtig baggrund for menu */
    color: white;
    z-index: 10;
    }

    nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    }

    nav ul li {
    margin: 0 15px;
    }

    nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    }
}

/* info */
.info{
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 200%;
    color: var(--Mørkerød); 
    background-color: var(--beige);
    position: absolute; /* Gør tekstboksen absolut positioneret */
    top: 50%; /* Justerer placeringen - fx midt i billedet */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrerer tekstboksen */
    width: 40%; /* Juster bredde efter behov */
    padding: 5px;
    border: 1px solid var(--Mørkerød); /* Kant omkring boksen */
    text-align: center;
    opacity: 90%;
}

.book {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: var(--beige);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: var(--Mørkerød);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: var(--Rød);
  }
  
 
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .book {
      flex-direction: column-reverse;
    }
    
  }


    
footer{
    background-color: var(--beige);
    color: var(--Mørkerød);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.Facebook{
    width: 30px;
    height: auto;
}

.instagram{
    width: 30px;
    height: auto;
}

/* telefonstørrelse */
@media (max-width: 480px){

    /* info */
.info{
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 130%;
    color: var(--Mørkerød); 
    background-color: var(--beige);
    position: absolute; /* Gør tekstboksen absolut positioneret */
    top: 50%; /* Justerer placeringen - fx midt i billedet */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrerer tekstboksen */
    width: 80%; /* Juster bredde efter behov */
    padding: 5px;
    border: 1px solid var(--Mørkerød); /* Kant omkring boksen */
    text-align: center;
    opacity: 90%;
}

    footer{
        font-size: smaller;
    }

    header .navbar ul {
        list-style: none;
        display: block;
        gap: 15px;
        text-align: center;
    }

    header {
        justify-content: space-between;
    }

    .flag{
        height: 70px; /* flagets størelse */
        width: auto;
        margin-top: 15px;
      }

    header label {
        text-align: center;
    }

    .adresse{
        justify-content: center;
        display: block;
    }

#menu-bar{
 
    align-items: center;
    font-size: xx-large;
   
}
}

